/* ****************************************************************************
Personal Log Theme
Stylesheet
**************************************************************************** */

/* ==== CSS Reset ========================================================== */

/* ++++ Meyer CSS Reset ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}

/* ==== Fonts ============================================================== */

/* cairo-200 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("/fonts/cairo-v17-latin-200.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-300 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("/fonts/cairo-v17-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-regular - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/fonts/cairo-v17-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-500 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("/fonts/cairo-v17-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-600 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("/fonts/cairo-v17-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-700 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("/fonts/cairo-v17-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-800 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("/fonts/cairo-v17-latin-800.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cairo-900 - latin */
@font-face {
    font-family: "Cairo";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("/fonts/cairo-v17-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/cairo-v17-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300 - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("/fonts/open-sans-v27-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/fonts/open-sans-v27-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("/fonts/open-sans-v27-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-500 - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("/fonts/open-sans-v27-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("/fonts/open-sans-v27-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("/fonts/open-sans-v27-latin-800.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300italic - latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local(""), url("/fonts/open-sans-v27-latin-300italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("/fonts/open-sans-v27-latin-italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-500italic - latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 500;
    src: local(""), url("/fonts/open-sans-v27-latin-500italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local(""), url("/fonts/open-sans-v27-latin-600italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("/fonts/open-sans-v27-latin-700italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local(""), url("/fonts/open-sans-v27-latin-800italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/open-sans-v27-latin-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-mono-regular - latin */
@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("/fonts/ubuntu-mono-v14-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ubuntu-mono-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-mono-700 - latin */
@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("/fonts/ubuntu-mono-v14-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ubuntu-mono-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-mono-italic - latin */
@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-weight: 400;
    src: local(""), url("/fonts/ubuntu-mono-v14-latin-italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ubuntu-mono-v14-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-mono-700italic - latin */
@font-face {
    font-family: "Ubuntu Mono";
    font-style: italic;
    font-weight: 700;
    src: local(""), url("/fonts/ubuntu-mono-v14-latin-700italic.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/ubuntu-mono-v14-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ==== Variables ========================================================== */

:root {
  
  /* :::: Typography ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  --sans-serif-header: Cairo, sans-serif;
  --sans-serif: "Open Sans", sans-serif;
  --monospace: "Ubuntu Mono", monospace;

  /* :::: Font Size :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  --main: 1.6rem;
  --code: 1.7rem;

  /* :::: Colour ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
  --blue-grey-100: #cfd8dc;
  --blue-grey-200: #b0bec5;
  --blue-grey-50: #eceff1;
  --blue-grey-600: #546e7a;
  --blue-grey-800: #37474f;
  --blue-grey-900: #263238;
  --blue-100: #bbdefb;
  --blue-900: #0d47a1;
  --deep-purple-100: #d1c4e9;
  --deep-purple-900: #311b92;
  --green-100: #c8e6c9;
  --green-50: #e8f5e9;
  --green-900: #1b5e20;
  --green-a700: #00c853;
  --grey-50: #fafafa;
  --grey-900: #212121;
  --orange-50: #fff3e0;
  --orange-900: #e65100;
  --orange-a700: #ff6d00;
  --red-50: #ffebee;
  --red-a700: #d50000;
  --white: #ffffff;

}

/* ==== Base =============================================================== */

html {
    font-family: var(--sans-serif);
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

nav#main {
    padding: 1rem;
    background: var(--blue-grey-900);
}

#nav-main-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#nav-main-container ul {
    padding: 1rem 0 1rem 0;
}

#nav-main-container li {
    display: inline;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
}

#nav-main-container a:link,
#nav-main-container a:visited {
    color: var(--white);
    padding: 1rem 0.5rem 1rem 0.5rem;
    text-decoration: none;
}

#nav-main-container a:hover,
#nav-main-container a:active {
    color: var(--blue-grey-200);
}

#nav-main-container span {
    display: none;
}

header {
    padding: 4rem 2rem 4rem 2rem;
    background: var(--blue-grey-800);
}

#header-container {
    display: flex;
    align-items: center;
}

#header-container h1 {
    font-family: var(--sans-serif);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: var(--white);
}

nav#sections {
    padding: 1rem;
    background: var(--blue-grey-200);
}

#nav-sections-container {
    display: flex;
    align-items: center;
}

#nav-sections-container ul {
    padding: 1.5rem 0 1.5rem 0;
    white-space: nowrap;
    overflow-x: auto;
}

#nav-sections-container li {
    display: inline;
    font-family: var(--sans-serif);
    font-size: 1.4rem;
}

#nav-sections-container a:link,
#nav-sections-container a:visited {
    margin: 0 0.5rem 0 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
    color: var(--white);
    background: var(--blue-grey-800);
    border-radius: 2rem;
}

#nav-sections-container a:hover,
#nav-sections-container a:active {
    color: var(--white);
    background: var(--blue-grey-900);
}

nav#types {
    padding: 2rem;
    background: var(--blue-grey-100);
}

#nav-types-container {
    padding: 2rem;
    background: var(--grey-50);
    border-radius: 2rem;
}

#nav-types-container h2 {
    margin: 0 0 1rem 0;
    padding: 0 0 1.5rem 0;
    font-family: var(--sans-serif-header);
    font-weight: 500;
    font-size: 2rem;
    color: var(--blue-grey-900);
    border-bottom: 0.1rem solid var(--blue-grey-50);
}

#nav-types-container ul {
    padding: 1rem 0 1rem 0;
}

#nav-types-container li {
    margin: 0 0.25rem 1rem 0;
    display: inline-block;
    font-family: var(--sans-serif);
    font-size: 1.4rem;
}

#type-bar {
    height: 1rem;
}

aside#archive-toc {
    padding: 2rem;
    background: var(--blue-grey-50);
}

#aside-archive-toc-container {
    padding: 2rem;
    background: var(--white);
    font-size: 1.6rem;
    border-radius: 2rem;
}

#aside-archive-toc-container ul {
    margin: 0 0 0 1rem;
}

main#entries {
    padding: 2rem;
    background: var(--blue-grey-50);
}

#main-entries-container {
    padding: 2rem;
    background: var(--white);
    border-radius: 2rem;
}

.section-title {
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 0;
    border-bottom: 0.1rem solid var(--blue-grey-50);
}

.count {
    padding: 0 0 1.5rem 0;
    font-size: 1.4rem;
}

#main-entries-container h2 {
    padding: 0 0 1.5rem 0;
    flex-grow: 1;
    font-family: var(--sans-serif-header);
    font-weight: 500;
    font-size: 2rem;
    color: var(--blue-grey-900);
}

#main-entries-container li {
    margin: 0 0 1rem 0;
    padding: 2rem;
    background: var(--grey-50);
    border-radius: 2rem;
}

#main-entries-container li h3 {
    padding: 0 0 0.5rem 0;
    font-family: var(--sans-serif);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

#main-entries-container li h3 a:link,
#main-entries-container li h3 a:visited {
    color: var(--grey-900);
    text-decoration: none;
}

#main-entries-container li #entry-id {
    padding: 0.5rem 0 0.5rem 0;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
}

#main-entries-container li #entry-type {
    padding: 0.5rem 0 0.5rem 0;
}

#main-entries-container li #entry-type a:link,
#main-entries-container li #entry-type a:visited {
    font-size: 1.4rem;
}

#main-entries-container li #entry-date {
    padding: 0.5rem 0 0.5rem 0;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
}

#main-entries-container li #entry-link {
    padding: 0.5rem 0 0.5rem 0;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
}

#main-entries-container li #entry-link a:link,
#main-entries-container li #entry-link a:visited {
    color: var(--grey-900);
    text-decoration: none;
}

#row-1 {
    margin: 2rem 0 0 0;
    padding: 2rem 0 0 0;
    border-top: 0.1rem solid var(--blue-grey-50);
}

ul#entry-tags {
    padding: 0 0 1rem 0;
    flex-grow: 1;
}

#entry-tags li {
    display: inline-block;
    padding: 0;
    font-family: var(--sans-serif);
}

#entry-tags li a:link,
#entry-tags li a:visited,
#entry-tags li a:hover,
#entry-tags li a:active {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: var(--sans-serif);
    font-size: 1.4rem;
    color: var(--grey-900);
    text-decoration: none;
    background: var(--blue-grey-50);
    border-radius: 2rem;
}

#entry-tags li i {
    color: var(--blue-grey-600);
}

ul#index-open-entry-in {
    white-space: nowrap;
    text-align: right;
}

#index-open-entry-in li {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

#index-open-entry-in a:link, 
#index-open-entry-in a:visited {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
}

#main-entries-container .types-list li {
    display: flex;
    align-items: center;
    padding: 0 0 1rem 0;
    font-size: 1.6rem;
    background: none;
    border-radius: 0;
    border-bottom: 0.1rem dashed var(--blue-grey-50);
}

.tags-list li {
    display: flex;
    align-items: center;
    padding: 0 0 1rem 0;
    font-size: 1.6rem;
    background: none;
    border-radius: 0;
    border-bottom: 0.1rem dashed var(--blue-grey-50);
}

.tags-list a:link,
.tags-list a:visited {
    margin: 0 0 0.5rem 0;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
    color: var(--grey-900);
    text-decoration: none;
    background: var(--blue-grey-50);
    border-radius: 2rem;
}

#main-entries-container .type-count {
    flex-grow: 1;
    text-align: right;
}

section#frontmatter {
    padding: 2rem;
    background: var(--blue-grey-100);
}

#section-frontmatter-container {
    padding: 2rem;
    font-family: var(--sans-serif);
    background: var(--grey-50);
    border-radius: 2rem;
}

#section-frontmatter-container li {
    padding: 0.5rem 0 0.5rem 0;
}

#section-frontmatter-container-li-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-frontmatter-container li #entry-id {
    font-size: 1.6rem;
}

#section-frontmatter-container li #entry-type a:link,
#section-frontmatter-container li #entry-type a:visited {
    font-size: 1.4rem;
}

#section-frontmatter-container li#entry-date,
#section-frontmatter-container li#entry-modified {
    font-size: 1.6rem;
}

#section-frontmatter-container li#entry-reading-time {
    font-size: 1.6rem;
}

#section-frontmatter-container li#entry-link {
    font-size: 1.6rem;
}

#section-frontmatter-container li#entry-link a:link,
#section-frontmatter-container li#entry-link a:visited {
    font-size: 1.6rem;
    color: var(--grey-900);
    text-decoration: none;
}

article#entry-content {
    padding: 2rem;
    background: var(--white);
}

#article-entry-content-container {
    font-family: var(--sans-serif);
    font-size: 1.6rem;
}

#article-entry-content-container p {
    line-height: 3rem;
}

#toc h2 {
    border-bottom: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

#toc ul {
    list-style-type: decimal;
    margin: 0 0 0 2.5rem;
}

#toc a:link,
#toc a:visited {
    background: none;
}

article {
    padding: 2rem;
    word-wrap: break-word;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 1rem 0;
    font-family: var(--sans-serif);
    font-weight: 500;
    color: var(--blue-grey-800);
}

article h1 {
    line-height: 3.8rem;
    font-size: 2.8rem;
    font-weight: 700;
}

article h2 {
    margin: 0 0 1rem 0;
    line-height: 3.6rem;
    font-size: 2.6rem;
    font-weight: 600;
    border-bottom: 1px solid var(--blue-grey-50);
}

article h3 {
    line-height: 3.4rem;
    font-size: 2.4rem;
}

article h4 {
    line-height: 3.2rem;
    font-size: 2.2rem;
}

article h5 {
    line-height: 3rem;
    font-size: 2rem;
}

article h6 {
    line-height: 2.8rem;
    font-size: 1.8rem;
}

/*
.admonition.attention .admonition-title p:before {
    content: "\f071";
    font-family: "Line Awesome Free";
    font-weight: 900;
    margin: 0 0.3rem 0 0;
}
*/

.admonition-title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-weight: 600;
    margin: 2rem 0 0 0;
    padding: 1rem 2rem 1rem 2rem;
    word-break: break-word;
}

.admonition-message {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 0 0 2rem 0;
    padding: 2rem;
}

.admonition.attention .admonition-title {
    background: var(--red-a700);
    color: var(--white);
}

.admonition.attention .admonition-message {
    background: var(--red-50);
    color: var(--red-a700);
}

.admonition.caution .admonition-title {
    background: var(--orange-a700);
    color: var(--white);
}

.admonition.caution .admonition-message {
    background: var(--orange-50);
    color: var(--orange-900);
}

.admonition.danger .admonition-title {
    background: var(--red-a700);
    color: var(--white);
}

.admonition.danger .admonition-message {
    background: var(--red-50);
    color: var(--red-a700);
}

.admonition.danger .admonition-title {
    background: var(--red-a700);
    color: var(--white);
}

.admonition.danger .admonition-message {
    background: var(--red-50);
    color: var(--red-a700);
}

.admonition.success .admonition-title {
    background: var(--green-a700);
    color: var(--white);
}

.admonition.success .admonition-message {
    background: var(--green-50);
    color: var(--green-900);
}

.admonition.hint .admonition-title {
    background: #6200EA;
    color: var(--white);
}

.admonition.hint .admonition-message {
    background: #EDE7F6;
    color: var(--deep-purple-900);
}

.admonition.important .admonition-title {
    background: var(--red-a700);
    color: var(--white);
}

.admonition.important .admonition-message {
    background: var(--red-50);
    color: var(--red-a700);
}

.admonition.note .admonition-title {
    background: #9E9E9E;
    color: var(--white);
}

.admonition.note .admonition-message {
    background: var(--grey-50);
    color: #424242;
}

.admonition.tip .admonition-title {
    background: #0091EA;
    color: var(--white);
}

.admonition.tip .admonition-message {
    background: #E1F5FE;
    color: #0D47A1;
}

.admonition.warning .admonition-title {
    background: var(--red-a700);
    color: var(--white);
}

.admonition.warning .admonition-message {
    background: var(--red-50);
    color: var(--red-a700);
}

.intra-todo {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.4rem;  
    border-radius: 0.5rem;
    background: #ffcdd2; /* 400 */
}

.intra-done {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.4rem;  
    border-radius: 0.5rem;
    background: var(--blue-grey-50); /* 400 */
}

article p:last-of-type {
    padding: 0;
}

article p {
    padding: 0.5rem 0;
    line-height: 3rem;
}

article p code {
    background: var(--blue-grey-50);
}

article p mark {
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: var(--grey-900);
    background-color: #fff59d;
}

article strong {
  font-weight: 600;
}

article em {
  font-style: italic;
}

article del {
  text-transform: line-through;
  color: #777;
}

article a:link,
article a:visited {
  padding: 0.15rem;
  text-decoration: none;
  color: var(--grey-900);
  background-color: var(--blue-grey-50);
  border-radius: 0.5rem;
}
article p a:link:after {
  margin: 0 0 0 0.3rem;
  font-family: "Line Awesome Free";
  font-size: 1.6rem;
  font-weight: 900;
  content: "\f35d";
}

article a:active,
article a:hover {
  text-decoration: none;
  color: var(--grey-900);
  background-color: #bbdefb;
}

article p a.wikilink {
  padding: 0.15rem;
  text-decoration: none;
  color: var(--grey-900);
  background-color: var(--blue-grey-50);
  border-radius: 0.5rem;
}

article p a.wikilink:after, 
article li a.wikilink:after,
article td a.wikilink:after {
  margin: 0 0 0 0.3rem;
  font-family: "Line Awesome Free";
  font-size: 1.6rem;
  font-weight: 900;
  content: "\f0c1";
}

article .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

article figcaption {
    margin: 0 0 2rem 0;
    line-height: 3rem;
    text-align: center;
    color: var(--blue-grey-800);
}

article img {
  padding: 1rem 0 1rem 0;
}

article hr {
  margin: 1rem 0;
  border: 0;
  height: 0.1rem;
}

article code {
  padding: 0.25rem;
  font-family: var(--monospace);
  font-size: var(--code);
  border-radius: 0.5rem;
}

article pre {
  -moz-hyphens: none;
  -moz-tab-size: 4;
  -ms-hyphens: none;
  -o-tab-size: 4;
  -webkit-hyphens: none;
  background-color: #002451;
  border-radius: 1rem;
  color: var(--white);
  display: block;
  font-family: var(--monospace);
  font-size: var(--code);
  hyphens: none;
  line-height: 2rem;
  margin: 1rem 0 1rem 0;
  overflow: auto;
  padding: 2rem;
  tab-size: 4;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

article pre code {
  padding: 0;
}

/* Background */
.chroma {
  color: var(--white);
  background-color: #002451
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
  color: #ffc58f
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  background-color: #ffffcc
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f
}

/* Keyword */
.chroma .k {
  color: #ebbbff
}

/* KeywordConstant */
.chroma .kc {
  color: #ebbbff
}

/* KeywordDeclaration */
.chroma .kd {
  color: #ebbbff
}

/* KeywordNamespace */
.chroma .kn {
  color: #5bc4bf
}

/* KeywordPseudo */
.chroma .kp {
  color: #ebbbff
}

/* KeywordReserved */
.chroma .kr {
  color: #ebbbff
}

/* KeywordType */
.chroma .kt {
  color: #ff9da4
}

/* Name */
.chroma .n {}

/* NameAttribute */
.chroma .na {
  color: #bbdaff
}

/* NameBuiltin */
.chroma .nb {}

/* NameBuiltinPseudo */
.chroma .bp {}

/* NameClass */
.chroma .nc {
  color: #ff9da4
}

/* NameConstant */
.chroma .no {
  color: #ffc58f
}

/* NameDecorator */
.chroma .nd {
  color: #5bc4bf
}

/* NameEntity */
.chroma .ni {}

/* NameException */
.chroma .ne {
  color: #ffc58f
}

/* NameFunction */
.chroma .nf {
  color: #bbdaff
}

/* NameFunctionMagic */
.chroma .fm {}

/* NameLabel */
.chroma .nl {}

/* NameNamespace */
.chroma .nn {
  color: #ff9da4
}

/* NameOther */
.chroma .nx {
  color: #bbdaff
}

/* NameProperty */
.chroma .py {}

/* NameTag */
.chroma .nt {
  color: #5bc4bf
}

/* NameVariable */
.chroma .nv {
  color: #ffc58f
}

/* NameVariableClass */
.chroma .vc {}

/* NameVariableGlobal */
.chroma .vg {}

/* NameVariableInstance */
.chroma .vi {}

/* NameVariableMagic */
.chroma .vm {}

/* Literal */
.chroma .l {
  color: #ffeead
}

/* LiteralDate */
.chroma .ld {
  color: #d1f1a9
}

/* LiteralString */
.chroma .s {
  color: #d1f1a9
}

/* LiteralStringAffix */
.chroma .sa {
  color: #d1f1a9
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #d1f1a9
}

/* LiteralStringChar */
.chroma .sc {}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #d1f1a9
}

/* LiteralStringDoc */
.chroma .sd {
  color: #7285b7
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #d1f1a9
}

/* LiteralStringEscape */
.chroma .se {
  color: #ffeead
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #d1f1a9
}

/* LiteralStringInterpol */
.chroma .si {
  color: #ffeead
}

/* LiteralStringOther */
.chroma .sx {
  color: #d1f1a9
}

/* LiteralStringRegex */
.chroma .sr {
  color: #d1f1a9
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #d1f1a9
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #d1f1a9
}

/* LiteralNumber */
.chroma .m {
  color: #ffeead
}

/* LiteralNumberBin */
.chroma .mb {
  color: #ffeead
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #ffeead
}

/* LiteralNumberHex */
.chroma .mh {
  color: #ffeead
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #ffeead
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #ffeead
}

/* LiteralNumberOct */
.chroma .mo {
  color: #ffeead
}

/* Operator */
.chroma .o {
  color: #5bc4bf
}

/* OperatorWord */
.chroma .ow {
  color: #5bc4bf
}

/* Punctuation */
.chroma .p {}

/* Comment */
.chroma .c {
  color: #7285b7
}

/* CommentHashbang */
.chroma .ch {
  color: #7285b7
}

/* CommentMultiline */
.chroma .cm {
  color: #7285b7
}

/* CommentSingle */
.chroma .c1 {
  color: #7285b7
}

/* CommentSpecial */
.chroma .cs {
  color: #7285b7
}

/* CommentPreproc */
.chroma .cp {
  color: #7285b7
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #7285b7
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {
  color: #ffc58f
}

/* GenericEmph */
.chroma .ge {
  font-style: italic
}

/* GenericError */
.chroma .gr {}

/* GenericHeading */
.chroma .gh {
  font-weight: bold
}

/* GenericInserted */
.chroma .gi {
  color: #d1f1a9
}

/* GenericOutput */
.chroma .go {}

/* GenericPrompt */
.chroma .gp {
  color: #7285b7;
  font-weight: bold
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  color: #5bc4bf;
  font-weight: bold
}

/* GenericTraceback */
.chroma .gt {}

/* GenericUnderline */
.chroma .gl {}

/* TextWhitespace */
.chroma .w {}

article blockquote {
  margin: 1.5rem 0;
  padding: 2rem;
  word-break: break-word;
  border-radius: 0.5rem;
  background: var(--blue-grey-50);
  border-left: 0.5rem solid #90A4AE;
}

article ul {
  margin: 0 0 0 2rem;
  padding: 0.5rem 0;
  line-height: 3rem;
  list-style-type: "- ";
}

article ol {
  margin: 0 0 0 2rem;
  line-height: 3rem;
  list-style-type: decimal;
}

article li code {
  background: var(--blue-grey-50);
}

article li a:link,
article li a:visited {
    color: var(--grey-900);
}

article li a:active,
article li a:hover {
    color: var(--grey-900);
}

article hr {
    background: var(--blue-grey-50);
}

article dt {
  line-height: 3rem;
  font-weight: 600;
}

article dd {
  margin: 0 0 0 2rem;
  line-height: 3rem;
}

article table {
    margin: 2rem 0;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    line-height: 3rem;
    color: var(--blue-grey-50);
}

article th {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 600;
  color: var(--grey-900);
  background: var(--blue-grey-50);
  border: 1px solid var(--blue-grey-100);
}

article td {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  color: var(--grey-900);
  border: 0.1rem solid var(--blue-grey-100);
}

article td code {
  padding: 0.25rem;
  font-size: var(--code);
  border-radius: 0.5rem;
  background: var(--blue-grey-50);
}

article td a:link,
article td a:visited {
  color: #333;
  border-bottom: 1px solid var(--blue-grey-50);
}

article td a:active,
article td a:hover {
  color: #1a237e;
}

article iframe {
  margin: 2rem 0 2rem 0;
  width: 100%;
  height: 50rem;
  border: 1px solid var(--blue-grey-50);
}

aside#related {
    padding: 2rem;
    background: var(--grey-50);
}

#aside-related-container {
    padding: 2rem;
    font-family: var(--sans-serif);
    background: var(--white);
    border-radius: 2rem;
}

#aside-related-container h3:not(:first-child) {
    margin: 1.5rem 0 1rem 0;
}

#aside-related-container h3 {
    margin: 0 0 1rem 0;
    padding: 0 0 1.5rem 0;
    font-family: var(--sans-serif-header);
    font-weight: 500;
    font-size: 2rem;
    color: var(--blue-grey-900);
    border-bottom: 0.1rem solid var(--blue-grey-50);
}

#aside-related-container ul {
    padding: 0 0 1rem 0;
}

#aside-related-container li {
    padding: 0 0 1rem 0;
    display: flex;
    font-size: 1.6rem;
    align-items: center; 
}

#aside-entry a:link,
#aside-entry a:visited {
    color: var(--grey-900);
    text-decoration: none;
}

#aside-entry {
    flex-grow: 1;
    line-height: 2.5rem;
    font-size: 1.6rem;
}

#aside-type {
    font-size: 1.4rem;
}

#aside-type span {
    display: inline-block;
    margin-left: 1rem;
    white-space: nowrap;
}

#open-entry-in li {
    display: inline-block;
    font-size: 1.6rem;
}

#open-entry-in a:link, 
#open-entry-in a:visited {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
}

#vim a:link,
#vim a:visited {
    color: var(--green-900);
    background-color: var(--green-100);
    text-decoration: none;
}

#macvim a:link,
#macvim a:visited {
    color: #212121;
    background-color: #E0E0E0;
    text-decoration: none;
}

#obsidian a:link,
#obsidian a:visited {
    color: var(--deep-purple-900);
    background-color: var(--deep-purple-100);
    text-decoration: none;
}

#vscode a:link,
#vscode a:visited {
    color: var(--deep-purple-900);
    background-color: var(--blue-100);
    text-decoration: none;
}

/* Greeting Modal Container */
#open-entry-modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  /* Greeting Modal Container - when open */
  #open-entry-modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  /* Greeting Modal */
  #open-entry-modal .modal {
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.2s;
  }
  
  /* Greeting Modal - when open */
  #open-entry-modal:target .modal {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Modal Container Styles */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Background Styles */
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  /* Modal Body Styles */
  .modal {
    z-index: 1;
    background-color: white;
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 8px;
  }

span[class*="label_"] {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
}

.label_function {
    color: var(--white);
    background-color: var(--blue-grey-800);
}

.label_function a {
    color: var(--white);
    text-decoration: none;
}

.label_title {
    color: #004d40;
    background-color: #e0f2f1;
}

.label_title a {
    color: #004d40;
    text-decoration: none;
}

.label_tech-blog {
    color: #e3f2fd; /* 50 */
    background-color: #1565c0; /* 800 */
}

.label_tech-blog a {
    color: #e3f2fd; /* 50 */
    text-decoration: none;
}

.label_tech-note {
    color: #fce4ec;
    background-color: #ad1457;
}

.label_tech-note a {
    color: #fce4ec;
    text-decoration: none;
}

.label_tech-journal {
    color: #e0f7fa;
    background-color: #00bcd4;
}

.label_tech-journal a {
    color: #e0f7fa;
    background-color: #00bcd4;
    text-decoration: none;
}

.label_tech-archive {
    color: #3e2723;
    background-color: #efebe9;
}

.label_tech-archive a {
    color: #3e2723;
    text-decoration: none;
}

.label_bookmark {
    color: #e8eaf6;
    background-color: #1a237e;
}

.label_bookmark a {
    color: #e8eaf6;
    background-color: #1a237e;
    text-decoration: none;
}

.label_archive {
    color: #efebe9;
    background-color: #4e342e;
}

.label_archive a {
    color: #efebe9;
    background-color: #4e342e;
    text-decoration: none;
}

.label_journal {
    background-color: #2196f3;
}

.label_journal a {
    color: #e3f2fd;
    text-decoration: none;
}

.label_book-review {
    color: #4a148c;
    background-color: #f3e5f5;
}

.label_book-review a {
    color: #4a148c;
    background-color: #f3e5f5;
    text-decoration: none;
}

.label_fiction {
    color: #ede7f6;
    background-color: #673ab7;
}

.label_fiction a {
    color: #ede7f6;
    background-color: #673ab7;
    text-decoration: none;
}

.label_org {
    color: #e0f2f1;
    background-color: #009688;
}

.label_org a {
    color: #e0f2f1;
    background-color: #009688;
    text-decoration: none;
}

.label_week-ahead {
    color: #33691e;
    background-color: #ccff90;
}

.label_week-ahead a {
    color: #33691e;
    background-color: #ccff90;
    text-decoration: none;
}

.label_todo-f {
    color: var(--red-50);
    background-color: #b71c1c;
}

.label_todo-f a {
    color: var(--red-50);
    background-color: #b71c1c;
    text-decoration: none;
}

.label_todo-1 {
    color: var(--red-50);
    background-color: #e53935;
}

.label_todo-1 a {
    color: var(--red-50);
    background-color: #e53935;
    text-decoration: none;
}

.label_todo-2 {
    color: var(--orange-50);
    background-color: #ffa726;
}

.label_todo-2 a {
    color: var(--orange-50);
    background-color: #ffa726;
    text-decoration: none;
}

.label_todo-3 {
    color: #f57f17;
    background-color: #ffeb3b;
}

.label_todo-3 a {
    color: #f57f17;
    background-color: #ffeb3b;
    text-decoration: none;
}

.label_done {
    color: #212121;
    background-color: var(--blue-grey-50);
}

.label_done a {
    color: #212121;
    background-color: var(--blue-grey-50);
    text-decoration: none;
}

.label_project {
    color: #e0f7fa;
    background-color: #00bcd4;
}

.label_project a {
    color: #e0f7fa;
    background-color: #00bcd4;
    text-decoration: none;
}

.label_performance {
    color: #fff8e1;
    background-color: #ffc107;
}

.label_performance a {
    background-color: #ffc107;
    color: #fff8e1;
    text-decoration: none;
}

.label_catchup {
    background-color: #4caf50;
    color: var(--green-50);
}

.label_catchup a {
    background-color: #4caf50;
    color: var(--green-50);
    text-decoration: none;
}

footer {
    padding: 2rem;
}

#footer-container {
    display: flex;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
    padding: 2rem;
}

#build-info {
    flex-grow: 1;
}

#to-top a:link, 
#to-top a:visited {
    color: var(--grey-900); 
    text-decoration: none;
}

/* ==== Media Queries ====================================================== */

@media (min-width: 640px) {
    #header-container {
        margin: 0 auto;
        width: 640px;
    }

    #nav-main-container {
        margin: 0 auto;
        width: 640px;
    }

    #nav-sections-container {
        margin: 0 auto;
        width: 640px;
    }

    #nav-types-container {
        margin: 0 auto;
        width: 640px;
    }

    #section-built-container {
        margin: 0 auto;
        width: 640px;
    }

    #aside-archive-toc-container {
        margin: 0 auto;
        width: 640px;
    }

    #main-entries-container {
        margin: 0 auto;
        width: 640px;
    }

    #row-0 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #entry-type li {
        padding: 0;
    }
    
    ul#entry-tags {
        padding: 0 1rem 0 0;
    }
    
    #header-title-container {
        margin: 0 auto;
        width: 640px;
    }

    #section-frontmatter-container {
        margin: 0 auto;
        width: 640px;
    }

    #article-entry-content-container {
        margin: 0 auto;
        width: 640px;
    }

    #aside-related-container {
        margin: 0 auto;
        width: 640px;
    }

    #footer-container {
        margin: 0 auto;
        width: 640px;
    }
}
