{{- partial "head.html" . -}}
{{- partial "main_nav.html" . -}}

<header>
    <div id="header-container">
        <h1>{{ .Title }}</h1>
    </div>
</header>
<nav id="sections">
    <div id="nav-sections-container">
        <ul>
            <li>
                <a href="#referenced-by">
                    <i class="las la-link"></i> Referenced By
                </a>
            </li>
            <li>
                <a href="#related-entries">
                    <i class="las la-project-diagram"></i> Related Entries
                </a>
            </li>
            <li>
                <a href="#open-in">
                    <i class="las la-pen"></i> Open Entry-In
                </a>
            </li>
        </ul>
    </div>
</nav>

{{- partial "entry-details.html" . -}}

<article id="entry-content">
    <div id="article-entry-content-container">
        
        <p><em>The date and time in the below boxes are dynamically created using Javascript. </em></p>
        <h3>New Log Entry Frontmatter</h3>
{{ $hash := (((printf "%s.%d.%s" ("6ba7b811-9dad-11d1-80b4-00c04fd430c8") (now.Unix) (delimit (shuffle (seq 999)) "")) | base64Encode) | sha1) -}}
{{ $uuid := (printf "%s-%s-5%s-%s%s-%s" (substr $hash 0 8) (substr $hash 8 4) (substr $hash 13 3) (index (slice "8" "9" "a" "b" | shuffle) 0) (substr $hash 17 3) (substr $hash 20 12)) -}}
        
<pre>
---
id: <span id="log-id"></span>
uuid: <span id="uuid"></span>
title: 
date: <span id="date"></span>
modified: <span id="modified"></span>
types: 
link: 
pinned: false
tags: []
draft: false
---



</pre>
        <h3>New Inbox Entry</h3>
<pre>
---

id: <span id="inbox-id"></span> date: <span id="inbox-date"></span>



---
</pre>

<script>
    // Fully aware that this is probably a horrible bit of code, but I know 
    // little about Javascript and it does the job for now.
    // I need to look at the below: 
    // https://stackoverflow.com/questions/48940151/how-can-i-use-getelementbyid-to-output-the-same-input-twice/48940228
    // Also, for the date/month/second padding: https://bobbyhadz.com/blog/javascript-get-month-and-date-in-2-digit-format

    var today = new Date();

    var logId = today.getFullYear() + '' + String(today.getMonth() + 1).padStart(2, '0') + '' + String(today.getDate()).padStart(2, '0') + '' + String(today.getHours()).padStart(2, '0') + '' + String(today.getMinutes()).padStart(2, '0') + '' + String(today.getSeconds()).padStart(2, '0');

    var dateTime = today.getFullYear() + '-' + String(today.getMonth() + 1).padStart(2, '0') + '-' + String(today.getDate()).padStart(2, '0') + ' ' + String(today.getHours()).padStart(2, '0') + ':' + String(today.getMinutes()).padStart(2, '0') + ':' + String(today.getSeconds()).padStart(2, '0');

    document.getElementById("uuid").innerHTML = crypto.randomUUID();
    document.getElementById("log-id").innerHTML = logId;
    document.getElementById("inbox-id").innerHTML = logId;
    document.getElementById("date").innerHTML = dateTime;
    document.getElementById("modified").innerHTML = dateTime;
    document.getElementById("inbox-date").innerHTML = dateTime;
</script>

    </div>
</article>

{{- partial "entry-bottom.html" . -}}

{{- partial "footer.html" . -}}