{{- partial "head.html" . -}} 
{{- partial "main_nav.html" . -}}

<header>
    <div id="header-container">
        <h1>{{ .Title }}</h1>
    </div>
</header>

<nav id="sections">
    <div id="nav-sections-container">
        <ul>
            <li>
                <a href="#referenced-by">
                    <i class="ti ti-circles-relation"></i> Referenced By
                </a>
            </li>
            <li>
                <a href="#related-entries">
                    <i class="ti ti-line"></i> Related Entries
                </a>
            </li>
        </ul>
    </div>
</nav>

{{- partial "entry-details.html" . -}}

<article id="entry-content">
    <div id="article-entry-content-container">
        {{ $content := .Content }}
        {{ $anchorFormatString := `<a href=%q title=%q class=%q>%s</a>` }}
        {{ $entryLinks := findRE `\[\[(\d+)\]\]` .Content }}
        {{ range $entryLinks }}
            {{ $id := trim . "[]" }}
            {{ $page := site.GetPage $id }}
            {{ $anchor := printf $anchorFormatString $page.RelPermalink $page.Title "wikilink" $page.Title }}
            {{ $content = replace $content . $anchor }}
        {{ end }}
        {{ $content | safeHTML }}
    </div>
</article>

{{- partial "entry-bottom.html" . -}}

{{- partial "footer.html" . -}}
