{{- partial "head.html" . -}}
{{- partial "main_nav.html" . -}}

<header>
    <div id="header-container">
        <h1>{{ .Title }}</h1>
    </div>
</header>

<nav id="sections">
    <div id="nav-sections-container">
        <ul>
            <li>
                <a href="#referenced-by">
                    <i class="las la-link"></i> Referenced By
                </a>
            </li>
            <li>
                <a href="#related-entries">
                    <i class="las la-project-diagram"></i> Related Entries
                </a>
            </li>
            <li>
                <a href="#open-in">
                    <i class="las la-pen"></i> Open Entry-In
                </a>
            </li>
        </ul>
    </div>
</nav>

{{- partial "entry-details.html" . -}}

<article id="entry-content">
    <div id="article-entry-content-container">

        <p><em>The contents of this page is dynamically created.</em></p>

        <h2>Priority Focus</h2>
        <ul>
            {{ range (where .Site.RegularPages ".Params.types" "todo-f") }}
            <li>
                <date>{{ .Date.Format "2006-01-02 15:04:05" }}</date>
                {{ .Params.id }}
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
            {{ end }}
        </ul>

        <h2>Priority 1</h2>
        <ul>
            {{ range (where .Site.RegularPages ".Params.types" "todo-1") }}
            <li>
                <date>{{ .Date.Format "2006-01-02 15:04:05" }}</date>
                {{ .Params.id }}
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
            {{ end }}
        </ul>

        <h2>Priority 2</h2>
        <ul>
            {{ range (where .Site.RegularPages ".Params.types" "todo-2") }}
            <li>
                <date>{{ .Date.Format "2006-01-02 15:04:05" }}</date>
                {{ .Params.id }}
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
            {{ end }}
        </ul>

        <h2>Priority 3</h2>
        <ul>
            {{ range (where .Site.RegularPages ".Params.types" "todo-3") }}
            <li>
                <date>{{ .Date.Format "2006-01-02 15:04:05" }}</date>
                {{ .Params.id }}
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
            {{ end }}
        </ul>

        <h2 class="todo_done">Done</h2>
        <ul>
            {{ range (where .Site.RegularPages ".Params.types" "done") }}
            <li class="todo_done">
                <date>{{ .Date.Format "2006-01-02 15:04:05" }}</date>
                {{ .Params.id }}
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
            {{ end }}
        </ul>

    </div>
</article>

{{- partial "entry-bottom.html" . -}}

{{- partial "footer.html" . -}}