{{ define "main" }}

<header>
    <div id="header-container">
        <h1>{{ .Title }}</h1>
    </div>
</header>

<main id="entries">
    <div id="main-entries-container">
        <div class="section-title">
            <h2 id="type-count"><i class="las la-file-alt"></i> Entries</h2>
            <div class="count">
                <p><i class="las la-file-alt"></i> {{ len .Pages }}</p>
            </div>
        </div>

        <ul class="index_list">
            {{ range .Pages }}
                {{- partial "index_list.html" . -}}
            {{ end }}
        </ul>
    </div>
</main>

{{ end }}
