{{ define "main" }}

<header>
    <div id="header-container">
        <h1>{{ .Title }}</h1>
    </div>
</header>

<nav id="sections">
    <div id="nav-sections-container">
        <ul>
            <li>
                <a href="#type-count">
                    <i class="las la-folder"></i> Count
                </a>
            </li>
            <li>
                <a href="#type-alphabetical">
                    <i class="las la-folder"></i> Alphabetical
                </a>
            </li>
        </ul>
    </div>
</nav>

<main id="entries">
    <div id="main-entries-container">
        <div class="section-title">
            <h2 id="type-count"><i class="las la-sort-numeric-down"></i> Count</h2>
        </div>

        <ul class="tags-list">
            {{ range .Data.Terms.ByCount }}
            <li>
                <span>
                    <a href="{{ .Page.Permalink }}"><i class="las la-hashtag"></i> {{ .Page.Title }}</a>
                </span>
                <span class="type-count">
                    <sup>{{ .Count }}</sup>
                </span>
            </li>
            {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">
        <div class="section-title">
            <h2 id="type-alphabetical"><i class="las la-sort-alpha-down"></i> Alphabetical</h2>
        </div>

        <ul class="tags-list">
            {{ range .Data.Terms.Alphabetical }}
            <li>
                <span>
                    <a href="{{ .Page.Permalink }}"><i class="las la-hashtag"></i> {{ .Page.Title }}</a>
                </span>
                <span class="type-count">
                    <sup>{{ .Count }}</sup>
                </span>
            </li>
            {{ end }}
        </ul>
    </div>
</main>

{{ end }}
