<aside id="related">
    <div id="aside-related-container">
        <!-- Backlinks section taken from https://github.com/crisrojas/Zettels -->
        {{ $firstBracket := "\\[\\[" }}
        {{ $lastBracket := "\\]\\]" }}
        {{ $filename := .File.BaseFileName }}
        {{ $wikilink :=  printf "%s%s%s" $firstBracket $filename $lastBracket }}

        <h3 id="referenced-by"><i class="ti ti-circles-relation"></i> Referenced By</h3>
        <ul>
            {{- $.Scratch.Add "backlinks" slice -}}
            {{- range .Site.RegularPages -}}
            {{ if (findRE $wikilink .Content) }}
            {{ $.Scratch.Set "title" .Title }}
            {{ $title := $.Scratch.Get "title" }}
            {{ $.Scratch.Add "backlinks" (dict .Permalink $title) }}
            <li>
                <div id="aside-entry">
                    <a href="{{ .Permalink }}">{{ $title }}</a>
                </div>
                <div id="aside-type">
                    <span class="label_{{ .Params.types }}">
                        <a href="/types/{{ .Params.types }}/">
                            <i class="ti ti-folder"></i>
                            {{ .Params.types }}
                        </a>
                    </span>
                </div>
            </li>
            {{ end }}
            {{ end }}

        </ul>

        {{- $backlinks := $.Scratch.Get "backlinks" -}}

        {{ if le (len $backlinks) 0 }}
        <ul>
            <li>No references to this entry.</li>
        </ul>
        {{ end }}
        <!-- End Backlinks -->
        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
        <h3 id="related-entries"><i class="ti ti-line"></i> Related Entries</h3>
        <ul>
            {{ range . }}
            <li>
                <div id="aside-entry">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <div id="aside-type">
                    <span class="label_{{ .Params.types }}">
                        <a href="/types/{{ .Params.types }}/">
                            <i class="ti ti-folder"></i>
                            {{ .Params.types }}
                        </a>
                    </span>
                </div>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</aside>
