<section id="frontmatter">
    <div id="section-frontmatter-container">

        <ul>
            <li id="section-frontmatter-container-li-row-1">
                <div id="entry-id">
                    <i class="ti ti-info-circle"></i>
                    {{ .Params.id }}
                </div>
                <div id="entry-type">
                    <i class="ri-folder-info-line"></i>
                    <span class="label_{{ .Params.types }}">
                        <a href="/types/{{ .Params.types }}/">
                            <i class="ti ti-folder"></i>
                            {{ .Params.types }}
                        </a>
                    </span>
                </div>
            </li>

            <li id="entry-date">
                <i class="ti ti-calendar"></i>
                <date>{{ .Date.Format "2 January 2006 15:04" }}</date>
            </li>

            {{ if .Params.modified }}
            <li id="entry-modified">
                <i class="ti ti-calendar-plus"></i>
                <date>{{ .Params.modified | dateFormat "2 January 2006 15:04" }}</date>
            </li>
            {{ end }}

            <li id="entry-reading-time">
                <i class="ti ti-hourglass-empty"></i>
                {{ .ReadingTime }} min read
            </li>

            <li id="entry-private">
                {{ if eq .Params.classification "private" }}
                    <i class="ti ti-lock"></i> Private
                {{ else }}
                    <i class="ti ti-lock-open"></i> Public
                {{ end }}
            </li>

            {{ $links := .Params.links }}

            {{ if $links }}
                <div id="link-header"><i class="ti ti-link"></i> Links</div>
                {{ if reflect.IsSlice $links }}
                    {{ range $links }}
                    <li id="entry-link">
                        <div class="entry-original">
                            <a href="{{ . }}" title="{{ . }}" target="_blank">
                                {{ if gt (len .) 70 }}
                                    {{ truncate 70 . }}
                                {{ else }}
                                    {{ . }}
                                {{ end }}
                            </a>
                        </div>
                    </li>
                    {{ end }}
                {{ else }}
                    <li id="entry-link">
                        <div class="entry-original">
                            <a href="{{ $links }}" title="{{ $links }}" target="_blank">
                                {{ if gt (len $links) 70 }}
                                    {{ truncate 70 $links }}
                                {{ else }}
                                    {{ $links }}
                                {{ end }}
                            </a>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
            
        
            {{ $localArchives := .Params.local_archive_links }}

            {{ if $localArchives }}
                <div id="link-header"><i class="ti ti-archive"></i> Local Archive</div>
                {{ if reflect.IsSlice $localArchives }}
                    {{ range $localArchives }}
                    <li id="entry-link">
                        <div class="entry-original">
                            <a href="/{{ . }}" title="{{ . }}" target="_blank">{{ . }}</a>
                        </div>
                    </li>
                    {{ end }}
                {{ else }}
                    <li id="entry-link">
                        <div class="entry-original">
                            <a href="/{{ $localArchives }}" title="{{ $localArchives }}" target="_blank">{{ $localArchives }}</a>
                        </div>
                    </li>
                {{ end }}
            {{ end }}

            {{ $archiveLinks := .Params.archive_links }}

            {{ if $archiveLinks }}
                <div id="link-header"><i class="ti ti-archive"></i> External Archive Links</div>
                {{ if reflect.IsSlice $archiveLinks }}
                    {{ range $archiveLinks }}
                    <li id="entry-link">
                        <div class="entry-original">
                            <a href="{{ . }}" title="{{ . }}" target="_blank">
                                {{ if gt (len .) 70 }}
                                    {{ truncate 70 . }}
                                {{ else }}
                                    {{ . }}
                                {{ end }}
                            </a>
                        </div>
                    </li>
                    {{ end }}
                {{ else }}
                    <li id="entry-link">
                        <div class="entry-original">
                            <a href="{{ $archiveLinks }}" title="{{ $archiveLinks }}" target="_blank">
                                {{ if gt (len $archiveLinks) 70 }}
                                    {{ truncate 70 $archiveLinks }}
                                {{ else }}
                                    {{ $archiveLinks }}
                                {{ end }}
                            </a>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
            

            <div id="row-1">
                <ul id="entry-tags">
                    {{ range .Params.tags }}
                    <li>
                        <a href="/tags/{{ . | urlize }}">
                            <i class="ti ti-tag"></i>
                            {{ . }}
                        </a>
                    </li>
                    {{ end }}
                </ul>

                {{- partial "open_in.html" . -}}

            </div>
        </ul>

    </div>
</section>
