<aside id="related">
    <div id="aside-related-container">
        <!-- Backlinks section taken from https://github.com/crisrojas/Zettels -->
        {{ $firstBracket := "\\[\\[" }}
        {{ $lastBracket := "\\]\\]" }}
        {{ $filename := .File.BaseFileName }}
        {{ $wikilink :=  printf "%s%s%s" $firstBracket $filename $lastBracket }}

        <h3 id="referenced-by"><i class="las la-link"></i> Referenced By</h3>
        <ul>
            {{- $.Scratch.Add "backlinks" slice -}}
            {{- range .Site.RegularPages -}}
            {{ if (findRE $wikilink .Content) }}
            {{ $.Scratch.Set "title" .Title }}
            {{ $title := $.Scratch.Get "title" }}
            {{ $.Scratch.Add "backlinks" (dict .Permalink $title) }}
            <li>
                <div id="aside-entry">
                    <a href="{{ .Permalink }}">{{ $title }}</a>
                </div>
                <div id="aside-type">
                    <span class="label_{{ .Params.types }}">
                        <a href="/types/{{ .Params.types }}/">
                            <i class="las la-folder"></i>
                            {{ .Params.types }}
                        </a>
                    </span>
                </div>
            </li>
            {{ end }}
            {{ end }}

        </ul>

        {{- $backlinks := $.Scratch.Get "backlinks" -}}

        {{ if le (len $backlinks) 0 }}
        <ul>
            <li>No references to this entry.</li>
        </ul>
        {{ end }}
        <!-- End Backlinks -->
        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
        <h3 id="related-entries"><i class="las la-project-diagram"></i> Related Entries</h3>
        <ul>
            {{ range . }}
            <li>
                <div id="aside-entry">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                <div id="aside-type">
                    <span class="label_{{ .Params.types }}">
                        <a href="/types/{{ .Params.types }}/">
                            <i class="las la-folder"></i>
                            {{ .Params.types }}
                        </a>
                    </span>
                </div>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        <h3 id="open-in"><i class="las la-pen"></i> Open Entry In</h3>
        <ul id="open-entry-in">
            <li id="vim"><a href="guivim:///home/{{ .Site.Params.root_dir }}/content/{{ .Params.id }}.md"><i
                        class="lab la-linux"></i> Vim</a></li>
            <li id="vim"><a
                    href="mvim://open?url=file:///Users/{{ .Site.Params.root_dir }}/content/{{ .Params.id }}.md"><i
                        class="lab la-apple"></i> MacVim</a></li>
            <li id="obsidian"><a
                    href="obsidian://open?vault={{ .Site.Params.obsidian_vault }}&file={{ .Params.id }}.md"><i
                        class="las la-mobile"></i> Obsidian</a></li>
        </ul>
    </div>
</aside>