<a name="top"></a>
<div id="wrapper">
    <nav id="main">
        <div id="left_links">
            <a href="https://start.ark.lan"><i class="ri-play-circle-line"></i></a>
            <a href="/"><i class="ri-home-line"></i></a>
            <!-- <a href="/search/"><i class="ri-search-line"></i></a> -->
            <a href="/types/"><i class="ri-folder-info-line"></i></a>
            <a href="/tags/"><i class="ri-hashtag"></i></a>
        </div>
        <div id="right_links">
            <a href="#bottom"><i class="ri-arrow-down-line"></i></a>
        </div>
    </nav>