<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="True">
        {{ if .IsHome }}
        <title>{{ .Site.Title }}{{ if isset .Site.Params "pagetitle" }} - {{ .Site.Params.Pagetitle }}{{ end }}</title>
        {{- else -}}
        <title>{{ .Title }} - {{ .Site.Title }}</title>
        {{- end -}}
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
        <meta name="theme-color" content="#000">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="stylesheet" href="/css/line-awesome.css">
    </head>

    <body>
        <a name="top"></a>