<li>

    <div id="row-0">
        <h3>
            <a href="{{ .Permalink }}" title="{{ .Params.title }}">{{ .Params.title }}</a>
        </h3>
        <div id="entry-type"> 
            <i class="ri-folder-info-line"></i>
            <span class="label_{{ .Params.type }}">
                <a href="/type/{{ .Params.type }}/">
                    <i class="ti ti-folder"></i>
                    {{ .Params.type }}
                </a>
            </span>
        </div>
    </div>

    <div id="entry-id">
        <i class="ti ti-info-circle"></i>
        {{ .Params.id }}
    </div>

    <div id="entry-date">
        <i class="ti ti-calendar"></i>
        <date>{{ .Date.Format "2 January 2006 15:04" }}</date>
    </div>

    <div id="entry-private">
        {{ if eq .Params.classification "private" }}
            <i class="ti ti-lock"></i> Private
        {{ else }}
            <i class="ti ti-lock-open"></i> Public
        {{ end }}
    </div>

    <div id="row-1">
        <ul id="entry-tags">
            {{ range .Params.tags }}
            <li>
                <a href="/tags/{{ . | urlize }}">
                    <i class="ti ti-tag"></i>
                    {{ . }}
                </a>
            </li>
            {{ end }}
        </ul>

        {{- partial "open_in.html" . -}}
    </div>

</li>
