<li>
    <div id="row-0">
        <h3><a href="{{ .Permalink }}" title="{{ .Params.title }}">{{ .Params.title }}</a></h3>
        <div id="entry-type">
            <i class="ri-folder-info-line"></i>
            <span class="label_{{ .Params.types }}">
                <a href="/types/{{ .Params.types }}/">
                    <i class="las la-folder"></i>
                    {{ .Params.types }}
                </a>
            </span>
        </div>
    </div>

    <div id="entry-id">
        <i class="las la-info-circle"></i>
        {{ .Params.id }}
    </div>

    <div id="entry-date">
        <i class="las la-calendar"></i>
        <date>{{ .Date.Format "2 January 2006 15:04" }}</date>
    </div>

    <ul id="entry-tags">
        {{ range .Params.tags }}
        <li>
            <a href="/tags/{{ . | urlize }}">
                <i class="las la-hashtag"></i>
                {{ . }}
            </a>
        </li>
        {{ end }}
    </ul>
    
</li>
