<main id="entries">
    <div id="main-entries-container">
        {{ $pinned := (where .Site.RegularPages ".Params.pinned" "==" true) }}
        {{ $pinned_count := len $pinned }}

        <div class="section-title">
            <h2 id="pinned"><i class="ti ti-pinned"></i> Pinned Entries</h2>
            <div class="count">
                <p><i class="ti ti-notes"></i> {{ $pinned_count }}</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range .Site.RegularPages }}
            {{ if .Params.pinned }}
                {{- partial "index_list.html" . -}}
            {{ end }}    
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">
        <div class="section-title">
            <h2 id="random"><i class="ti ti-arrows-shuffle"></i> Random Entry</h2>
            <div class="count">
                <p><i class="ti ti-notes"></i> 1</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range first 1 (shuffle (where (where (where .Site.RegularPages ".Params.types" "!=" "title") ".Params.types" "!=" "done") ".Params.types" "!=" "function")) }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">

        <div class="section-title">
            <h2 id="recent"><i class="ti ti-calendar"></i> Recently Modified</h2>
            <div class="count">
                <p><i class="ti ti-notes"></i> 5</p>
            </div>
        </div>

        <ul class="index_list">
        {{ range first 5 (where (where .Site.RegularPages.ByLastmod.Reverse ".Params.types" "!=" "done") ".Params.types" "!=" "function")  }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">
        {{ $title := (where .Site.RegularPages ".Params.types" "==" "title") }}
        {{ $titleCount := len $title }}

        <div class="section-title">
            <h2 id="title"><i class="ti ti-bookmark"></i> Title Entries</h2>
            <div class="count">
                <p><i class="ti ti-notes"></i> {{ $titleCount }}</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range (where .Site.RegularPages ".Params.types" "title") }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

