<nav id="main">
    <div id="nav-main-container">
        <ul>
            <li>
                <a href="{{ .Site.Params.start_page }}">
                    <i class="ti ti-player-play"></i>
                    <span>Start</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="ti ti-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{ .Site.Params.search_page }}">
                    <i class="ti ti-search"></i>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="/todo/">
                    <i class="ti ti-checkbox"></i>
                    <span>Todo</span>
                </a>
            </li>
            <li>
                <a href="/type/">
                    <i class="ti ti-folders"></i>
                    <span>Type</span>
                </a>
            </li>
            <li>
                <a href="/tags/">
                    <i class="ti ti-tags"></i>
                    <span>Tags</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#bottom">
                    <i class="ti ti-arrow-down"></i>
                    <span>Jump to Bottom</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
