<nav id="main">
    <div id="nav-main-container">
        <ul>
            <li>
                <a href="{{ .Site.Params.start_page }}">
                    <i class="las la-play"></i>
                    <span>Start</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="las la-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{ .Site.Params.search_page }}">
                    <i class="las la-search"></i>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="/new/">
                    <i class="las la-plus"></i>
                    <span>New Entry</span>
                </a>
            </li>
            <li>
                <a href="/todo/">
                    <i class="las la-check-circle"></i>
                    <span>Todo</span>
                </a>
            </li>
            <li>
                <a href="/archive/">
                    <i class="las la-archive"></i>
                    <span>Archive</span>
                </a>
            </li>
            <li>
                <a href="/types/">
                    <i class="las la-folder"></i>
                    <span>Types</span>
                </a>
            </li>
            <li>
                <a href="/tags/">
                    <i class="las la-hashtag"></i>
                    <span>Tags</span>
                </a>
            </li>
            <!--
                <li>
                <a href="/archive/">
                <i class="las la-archive"></i>
                <span>Archive</span>
                </a>
                </li>
            -->
        </ul>
        <ul>
            <li>
                <a href="#bottom">
                    <i class="las la-arrow-down"></i>
                    <span>Jump to Bottom</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
