<ul id="index-open-entry-in">
    <li id="vim"><a href="guivim:///home/jprice/my/files/documents/log/content/{{ .Params.id }}.md"><i class="lab la-linux"></i></a></li>
    <li id="fb"><a href="https://files.int.ppn.sh/files/files/documents/log/content/{{ .Params.id }}.md" target="_blank"><i class="las la-pen"></i></a></li>
    <li id="obsidian"><a href="obsidian://open?vault=log&file={{ .Params.id }}.md"><i class="las la-mobile"></i></a></li>
    <li id="vscode"><a href="{{ .Site.Params.vscode_editor }}://file//home/{{ .Site.Params.root_dir }}/content/{{ .Params.id }}.md"><i class="las la-code"></i></a></li>
</ul>
