{{ define "main" }}

<header>
    <div id="header-container">
        <h1><i class="las la-file-alt"></i> {{ .Site.Title }}</h1>
    </div>
</header>

<nav id="sections">
    <div id="nav-sections-container">
        <ul>
            <li>
                <a href="#pinned">
                    <i class="las la-thumbtack"></i> Pinned
                </a>
            </li>
            <li>
                <a href="#random">
                    <i class="las la-random"></i> Random
                </a>
            </li>
            <li>
                <a href="#recent">
                    <i class="las la-calendar"></i> Recent
                </a>
            </li>
            <li>
                <a href="#title">
                    <i class="las la-bookmark"></i> Title
                </a>
            </li>
            <li>
                <a href="#log">
                    <i class="las la-file-alt"></i> Log
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav id="types">
    <div id="nav-types-container">
        <h2><i class="las la-folder"></i> Entry Types</h2>
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.types }}
            <li>
                <span class="label_{{ $name }}">
                    <a href="{{ "/types/" | relLangURL }}{{ $name | urlize }}"><i class="las la-folder"></i> {{ $name }}</a>
                </span>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>

<main id="entries">
    <div id="main-entries-container">
        {{ $pinned := (where .Site.RegularPages ".Params.pinned" "==" true) }}
        {{ $pinned_count := len $pinned }}

        <div class="section-title">
            <h2 id="pinned"><i class="las la-thumbtack"></i> Pinned Entries</h2>
            <div class="count">
                <p><i class="las la-file-alt"></i> {{ $pinned_count }}</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range .Site.RegularPages }}
            {{ if .Params.pinned }}
                {{- partial "index_list.html" . -}}
            {{ end }}    
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">
        <div class="section-title">
            <h2 id="random"><i class="las la-random"></i> Random Entry</h2>
            <div class="count">
                <p><i class="las la-file-alt"></i> 1</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range first 1 (shuffle (where (where (where .Site.RegularPages ".Params.types" "!=" "title") ".Params.types" "!=" "done") ".Params.types" "!=" "function")) }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">

        <div class="section-title">
            <h2 id="recent"><i class="las la-calendar"></i> Recently Modified</h2>
            <div class="count">
                <p><i class="las la-file-alt"></i> 5</p>
            </div>
        </div>

        <ul class="index_list">
        {{ range first 5 (where (where .Site.RegularPages.ByLastmod.Reverse ".Params.types" "!=" "done") ".Params.types" "!=" "function")  }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">
        {{ $title := (where .Site.RegularPages ".Params.types" "==" "title") }}
        {{ $titleCount := len $title }}

        <div class="section-title">
            <h2 id="title"><i class="las la-bookmark"></i> Title Entries</h2>
            <div class="count">
                <p><i class="las la-file-alt"></i> {{ $titleCount }}</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range (where .Site.RegularPages ".Params.types" "title") }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

<main id="entries">
    <div id="main-entries-container">
        {{ $log := (where (where (where .Site.RegularPages ".Params.types" "!=" "title") ".Params.types" "!=" "done") ".Params.types" "!=" "function") }}
        {{ $logCount := len $log }}
        <div class="section-title">
            <h2 id="log">
                <i class="las la-file-alt"></i> Log Entries 
            </h2>
            <div class="count">
                <p><i class="las la-file-alt"></i> {{ $logCount }}</p>
            </div>
        </div>
        <ul class="index_list">
        {{ range (where (where (where .Site.RegularPages ".Params.types" "!=" "title") ".Params.types" "!=" "done") ".Params.types" "!=" "function") }}
            {{- partial "index_list.html" . -}}
        {{ end }}
        </ul>
    </div>
</main>

{{ end }}
